* {
    margin: 0;
    padding: 0;
}
.container{width: 980px;margin: 0 auto}
.nav{height: 108px;margin: 0 auto;background-color: #ffffff;width:980px;}
/*图片me*/
.header_img{
    padding-top: 15px;
    padding-left: 77px;
    float: left;

}
/*导航列表*/
.header_text ul li{list-style-type:none;
    font-size: 30px;
    font-weight:bold;
    float:right;
    margin-left: 20px;
    padding: 60px 58px 11px 10px;
}
/*导航字母下划线*/

.header_text ul li a{text-decoration:none;color: #333333}
.header_text ul li a:hover{color: #ffffff;background-color:#333333}
/*中间黄白颜色区域*/
.middle_info{height: 480px;margin: 0 auto;background-color:#F1C633; }
.middle_text{padding-top: 110px;padding-left: 215px}
.middle_text h1{color: #ffffff;font-size: 55px}
.middle_text h1 span{color:#333333}
/*技能*/
.middle_skill{height:377px;background-color:#333333;}
.skill_img{height: 112px;width: 95px;position: relative;left: 80px }
.skill_container{height:256px;width: 260px;float: left;left: 90px;}
.skill_div{position: relative;left: 90px;top: 76px}
.skill_container p{color: #ffffff;font-size: 30px;text-align: center;padding-top: 30px;font-weight: bold}
.skill_container span{color: #858585;}
/*about me */
.middle_author{
    text-align: center;
    height: 400px;
    background-color: #F1C633;
    margin: 0 auto;
}
.author_details_text{width: 400px;height: 200px;margin: 0 auto;color: #ffffff}
.middle_author h1{padding-top: 20px}
/*info*/
.info_container{
    height: 500px;
    background-color: #F5F5F5;
}
.contact_container{
    height: 200px;
    background-color:#333333 ;
}